@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFD3AC; /* Soft Peach */
    --foreground: #331C08; /* Dark brown */
    --surface: #CCBEB1; /* Subtle Taupe */
    --border: #664C36; /* Medium brown */
  }

  .dark {
    --background: #121212; /* Dark background */
    --foreground: #F4F4F5; /* Light text */
    --surface: #1E1E1E; /* Dark surface for sections */
    --border: #333333; /* Dark border */
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply transition-colors duration-300;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 4px;
}
